<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :完了 %><br>
    <%= f.check_box :done %>
  </div>
  <div class="field">
    <%= f.label :予定日 %><br>
    <%= f.date_select :due_date %>
  </div>
  <div class="field">
    <%= f.label :名前 %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :カテゴリー %><br>
    <%= f.collection_select :category_id, Category.all, :categoryname, :categoryname, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :ユーザー名 %><br>
    <%= f.collection_select :user_id, User.all, :username, :username, :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
